#RecipeBookGui
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent width # width
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent height # height
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent xOffset # xOffset
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent tabButtons # tabButtons

# EditBox
public net.minecraft.client.gui.components.EditBox canLoseFocus # canLoseFocus

#potions
public net.minecraft.world.item.alchemy.PotionBrewing containers # containers
public net.minecraft.world.item.alchemy.PotionBrewing containerMixes # containerMixes
public net.minecraft.world.item.alchemy.PotionBrewing potionMixes # potionMixes

# SmithingRecipe
public net.minecraft.world.item.crafting.SmithingTransformRecipe base # base
public net.minecraft.world.item.crafting.SmithingTransformRecipe addition # addition
public net.minecraft.world.item.crafting.SmithingTransformRecipe template # template
public net.minecraft.world.item.crafting.SmithingTrimRecipe base # base
public net.minecraft.world.item.crafting.SmithingTrimRecipe addition # addition
public net.minecraft.world.item.crafting.SmithingTrimRecipe template # template

# GrindstoneMenu
public net.minecraft.world.inventory.GrindstoneMenu computeResult(Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;)Lnet/minecraft/world/item/ItemStack; # computeResult

# Local world config paths
public net.minecraft.server.MinecraftServer storageSource # storageSource

# Toasts
public net.minecraft.client.gui.components.toasts.ToastComponent visible # visible
public net.minecraft.client.gui.components.toasts.ToastComponent$ToastInstance

# Rendering
public net.minecraft.client.gui.GuiGraphics blitSprite(Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;IIIIIIIII)V # blitSprite
public net.minecraft.client.gui.GuiGraphics blitNineSlicedSprite(Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;Lnet/minecraft/client/resources/metadata/gui/GuiSpriteScaling$NineSlice;IIIII)V # blitNineSlicedSprite
public net.minecraft.client.gui.GuiGraphics renderTooltipInternal(Lnet/minecraft/client/gui/Font;Ljava/util/List;IILnet/minecraft/client/gui/screens/inventory/tooltip/ClientTooltipPositioner;)V # renderTooltipInternal

# Fireworks recipes
public net.minecraft.world.item.crafting.FireworkRocketRecipe PAPER_INGREDIENT
public net.minecraft.world.item.crafting.FireworkRocketRecipe GUNPOWDER_INGREDIENT
public net.minecraft.world.item.crafting.FireworkRocketRecipe STAR_INGREDIENT
public net.minecraft.world.item.crafting.FireworkStarRecipe SHAPE_BY_ITEM
public net.minecraft.world.item.crafting.FireworkStarRecipe TRAIL_INGREDIENT
public net.minecraft.world.item.crafting.FireworkStarRecipe TWINKLE_INGREDIENT
public net.minecraft.world.item.crafting.FireworkStarRecipe GUNPOWDER_INGREDIENT
public net.minecraft.world.item.crafting.FireworkStarFadeRecipe STAR_INGREDIENT
