#keyboard
public net.minecraft.client.KeyboardHandler f_90868_ # sendRepeatsToGui

#colors
public net.minecraft.client.renderer.texture.TextureAtlasSprite f_118342_ # mainImage

#RecipeBookGui
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent f_100277_ # width
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent f_100278_ # height
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent f_100276_ # xOffset
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent f_100279_ # tabButtons

# EditBox
public net.minecraft.client.gui.components.AbstractWidget m_93692_(Z)V # setFocused
public net.minecraft.client.gui.components.EditBox f_94097_ # canLoseFocus

# Screen
public net.minecraft.client.gui.screens.Screen m_169383_(Lcom/mojang/blaze3d/vertex/PoseStack;Ljava/util/List;II)V # renderTooltipInternal

#potions
public net.minecraft.world.item.alchemy.PotionBrewing f_43496_ # ALLOWED_CONTAINERS

# SmithingRecipe
public net.minecraft.world.item.crafting.UpgradeRecipe f_44518_ # base
public net.minecraft.world.item.crafting.UpgradeRecipe f_44519_ # addition

# GrindstoneMenu
public net.minecraft.world.inventory.GrindstoneMenu m_39593_()V # createResult

# Toasts
public net.minecraft.client.gui.components.toasts.ToastComponent f_94915_ # visible
public net.minecraft.client.gui.components.toasts.ToastComponent$ToastInstance

# Fireworks recipes
public net.minecraft.world.item.crafting.FireworkRocketRecipe f_43837_ # PAPER_INGREDIENT
public net.minecraft.world.item.crafting.FireworkRocketRecipe f_43838_ # GUNPOWDER_INGREDIENT
public net.minecraft.world.item.crafting.FireworkRocketRecipe f_43839_ # STAR_INGREDIENT
public net.minecraft.world.item.crafting.FireworkStarRecipe f_43879_ # SHAPE_BY_ITEM
public net.minecraft.world.item.crafting.FireworkStarRecipe f_43877_ # TRAIL_INGREDIENT
public net.minecraft.world.item.crafting.FireworkStarRecipe f_43878_ # FLICKER_INGREDIENT
public net.minecraft.world.item.crafting.FireworkStarRecipe f_43880_ # GUNPOWDER_INGREDIENT
public net.minecraft.world.item.crafting.FireworkStarFadeRecipe f_43858_ # STAR_INGREDIENT
