{{#tags}}
    <h3>{{name}}</h3>
    <ul>
        {{#commits}}
            <li><a href="https://github.com/mezz/JustEnoughItems/commit/{{hashFull}}">{{message}}</a> - {{authorName}}</li>
        {{/commits}}
    </ul>
{{/tags}}
