<style>
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
</style>

{{#tags}}
    <h3>{{name}}</h3>
    <ul>
        {{#commits}}
            <li><a href="https://github.com/mezz/JustEnoughItems/commit/{{hashFull}}">{{message}}</a> - {{authorName}}</li>
        {{/commits}}
    </ul>
{{/tags}}
