#rendering
public net.minecraft.client.renderer.RenderItem func_191965_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;I)V # renderModel
public net.minecraft.client.renderer.RenderItem func_191961_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;Lnet/minecraft/item/ItemStack;)V # renderModel
