#rendering
public net.minecraft.client.renderer.ItemRenderer func_191965_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;I)V # renderModel
public net.minecraft.client.renderer.ItemRenderer func_191961_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;Lnet/minecraft/item/ItemStack;)V # renderModel
#keyboard
public net.minecraft.client.KeyboardListener field_197973_b # repeatEventsEnabled
#colors
public net.minecraft.client.renderer.texture.TextureAtlasSprite field_195670_c # frames
